<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Last Sunset On Uranus</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/css")
</head>
<body>
    <div class="container">
        <div class="row">
            @Html.Partial("Menu")
        </div>
    </div>
    <div id="view-container" class="container body-content fill">
        @RenderBody()
        @RenderSection("Content", required: false)
    </div>
    <div class="container">
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Last Sunset On Uranus</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
